/* https://nodejs.org/en/about/resources/ */

.svg-nodejs {
	--green: #7FBD42;
	--black: #333;
	--white: #FFF;

	.is-color1 {
		fill: var(--green);
	}
	.is-black {
		fill: var(--black);
	}

	&.is-reversed {
		background: var(--black);

		.is-black {
			fill: var(--white);
		}
	}
}
