/* https://github.com/logos */

.svg-github {
	--black: #221E1B;
	--white: #FFF;

	.is-black {
		fill: var(--black);
	}

	&.is-reversed {
		background: var(--black);

		.is-black {
			fill: var(--white);
		}
	}
}
