/* https://www.behance.net/dev/api/brand */

.svg-behance {
	--blue: #1769FF;
	--white: #FFF;

	.is-color1 {
		fill: var(--blue);
	}

	&.is-reversed {
		background: var(--blue);

		.is-color1 {
			fill: var(--white);
		}
	}
}
