/* http://eventbrite.com */

.svg-eventbrite {
	--orange: #FF8000;
	--white: #FFF;

	.is-color1 {
		fill: var(--orange);
	}
	.is-white {
		fill: var(--white);
	}

	&.is-reversed {
		background: var(--orange);

		.is-color1 {
			fill: var(--white);
		}

		.is-white {
			fill: var(--orange);
		}
	}
}
