/* https://developers.google.com/+/branding-guidelines */

.svg-googleplus {
	--red: #dd4b39;
	--white: #FFF;

	.is-color1 {
		fill: var(--red);
	}

	&.is-reversed {
		background: var(--red);

		.is-color1 {
			fill: var(--white);
		}
	}
}
