/* https://brand.linkedin.com/downloads */

.svg-linkedin {
	--blue: #0077B5;
	--black: #000;
	--white: #FFF;

	.is-color1 {
		fill: var(--blue);
	}

	.is-white {
		fill: var(--white);
	}

	.is-black {
		fill: var(--black);
	}

	&.is-reversed {
		background: var(--black);

		.is-black {
			fill: var(--white);
		}
	}
}
