/* https://about.me/assets */

.svg-aboutme {
	--blue: #044a75;
	--white: #FFF;

	.is-color1 {
		fill: var(--blue);
	}
	.is-white {
		fill: var(--white);
	}

	&.is-reversed {
		background: var(--blue);

		.is-color1 {
			fill: var(--white);
		}
		.is-white {
			fill: var(--blue);
		}
	}
}
